*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  max-width: 100%;
}

.background {
  background-image: url('../images/background.png');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .15;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
}

.logo {
  text-align: center;
  margin: 0 auto;
  max-width: 85%;

  h1 {
    margin-top: 0;
    margin-bottom: 1.4rem;
    padding-top: 1.4rem;
  }

  img {
    max-width: 100%;
  }
}

.social {
  display: flex;
  justify-content: space-around;

  a {
    flex: 0 0 22px;
  }

  img {
      max-width: 100%;
  }
}

.frecuencias {
  list-style: none;
  color: #fff;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    flex: 0 0 50%;
    font-size: 14px;
    padding: 7px 0;
    text-align: center;
  }
}

.player {
  background-image: linear-gradient(rgba(84, 84, 84, 0), rgba(84, 84, 84, 0.7), #545454);
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controls__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  padding: 10px;
  background: none;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: none;

  &--pause,
  &--play,
  &--off {
    display: none;
  }

  &--pause,
  &--play {
    background-color: #e51f2c;
    border: 4px solid #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  &--play {
    img {
      margin-left: 8px;
      margin-top: 2px;
    }
  }
}

/* Loading */
#loading {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.playing {
  opacity: 0;
  margin: .8rem auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  transition: all 0.2s ease;

  > div {
    background-color: #c44342;
    height: 100%;
    width: 4px;
    display: inline-block;
    transition: all 0.15s ease;
    animation: wavy 1s ease infinite forwards;
    transform-origin: 50% 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }

  .rect2 {
    animation-delay: 0.25s;
  }

  .rect3 {
    animation-delay: 0.5s;
  }

  .rect4 {
    animation-delay: 0.75s;
  }

  .rect5 {
    animation-delay: 1.0s;
  }
}

@keyframes wavy {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

.current {
  opacity: 0;
  color: #fff;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  margin: 0 auto;
}

[data-status="playing"] {
  #loading {
      display: none;
  }

  .playing,
  .current {
    opacity: 1;
  }

  .controls__btn--pause,
  .controls__btn--stop,
  .controls__btn--on {
    display: block;
  }
}

[data-status="paused"] {
  #loading {
    display: none;
  }

  .playing,
  .current {
    opacity: 0;
  }

  .controls__btn--play {
    display: block;
  }
}

[data-status="no-interaction"] {
  #loading {
    display: none;
  }

  .controls__btn--play {
    display: block;
  }
}

[data-status="stopped"] {
  #loading {
    display: none;
  }

  .controls__btn--play {
    display: block;
  }
}

[muted] {
  .controls__btn--on {
    display: none;
  }

  .controls__btn--off {
    display: block;
  }
}

.banner-container {
    text-align: center;
}

.banner-container img[width="320"] {
    margin: 20px auto;
}
